<div class="container row" align="center">
  <div class="card col-3" style="align-content: center;margin: 2%">
    <form style="margin: 20px; align-content: center" (submit)="add(name,age,sys,dia,heart)" ngNativeValidate>
      <div class="form-row">
      <label for="name" class="col-form-label">Name </label>
      <input type="text" class="form-text" id="name" #name required>
      </div>
      <div class="form-row">
      <label for="age" class="col-form-label">Age</label>
      <input type="number" class="form-text" id="age" #age required>
      </div>
      <div class="form-row">
        <label for="sys" class="col-form-label">Systolic</label>
        <input type="number" class="form-text" id="sys" #sys required>
        <label for="dia" class="col-form-label">Diastolic</label>
        <input type="number" class="form-text" id="dia" #dia required>
      </div>
      <div class="form-row">
      <label for="heartRate" class="col-form-label">Heart Rate</label>
      <input type="number" class="form-text" id="heartRate" #heart required>
      </div>
      <div class="form-row" align="center">
        <input type="submit" class="btn btn-outline-primary" value="Submit">
      </div>
    </form>
  </div>
  <div class="card container-fluid col" style="align-content: center">
    <div class="container" style="margin: 20px" align="center" *ngIf="patients.length > 0">
      <h4>Editable Table</h4>
      <table class="table-bordered">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Systolic</th>
          <th>Diastolic</th>
          <th>Heart Rate</th>
        </tr>
        <tr *ngFor = "let patient of patients">
          <td contenteditable="true" type="text">{{patient.name}}</td>
          <td contenteditable="true" type="number">{{patient.age}}</td>
          <td contenteditable="true" type="number">{{patient.bloodPressure.sys}}</td>
          <td contenteditable="true" type="number">{{patient.bloodPressure.dia}}</td>
          <td contenteditable="true" type="number">{{patient.heartRate}}</td>
          <td><button type="button" class="btn btn-outline-danger" (click)="delete(patient)">X</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
